<!DOCTYPE html>
<meta charset="utf-8">
<title>Feelings Wheel</title>
<meta name="description" content="A visualisation of humanly possible feelings.">
<link rel="stylesheet" href="wheel.css">
<div id="alt-versions">
  <a href="/wheel.html?lang=en">English</a>
  <a href="/wheel.html?lang=ja">日本語</a>
</div>

<h1>Feelings Wheel</h1>
<div id="main-tech" class="tech">
  <span class="label">d3.js</span>
  <span class="label">wordnet</span>
  <span class="label">wordnet-ja</span>
</div>
<aside id="search">
  <h2>Filters</h2>
  <div class="tech">
    <span class="label">backbone.js</span>
  </div>
  <section id="filters"></section>
  <h2>Definition keywords</h2>
  <div class="tech">
    <span class="label">nltk</span>
    <span class="label">mecab</span>
  </div>
  <p class="help">click to add a filter</p>
  <section id="related"></section>
</aside>
<div id="vis"></div>

<script type="text/template" id="bool-template">
  <div class="view">
    <label><%- label %></label>
    <a class="destroy">&times;</a>
  </div>
</script>

<script type="text/template" id="keyword-template">
  <div class="view">
    <label><%- label %></label>
    <a class="destroy">&times;</a><br>
    <input name="value" value="<%- value %>">
  </div>
</script>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>

<script src="wheel.js"></script>
<h2>Sunburst Trees</h2>
<p>This is an example of using <a href="http://github.com/mbostock/d3/wiki/Partition-Layout">d3.layout.partition</a> to generate a zoomable sunburst tree derived from hierarchical data.  A <a href="http://www.cc.gatech.edu/gvu/ii/sunburst/">sunburst tree</a> is a radial space-filling visualisation, analagous to an icicle tree.
<h2>Credits</h2>
<p>Built with <a href="http://d3js.org">D3.js</a>.
  Based on <a href="http://www.jasondavies.com/coffee-wheel/">Coffee Flavour Wheel</a>.
